@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'League Spartan Black';
    src: url('../LeagueSpartan/WOFF2/LeagueSpartan-Black.woff2') format('woff2-variations');
    font-weight: 200 900;
  }

  @font-face {
    font-family: 'League Spartan Medium';
    src: url('../LeagueSpartan/WOFF2/LeagueSpartan-Medium.woff2') format('woff2-variations');
    font-weight: 200 900;
  }

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
  
@keyframes animate-fade {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}  

body {
    background-color: #141419;
    min-height: 100vh;
  }

#accesibility{
    background-color: #141419;
    padding: 0.4rem;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

#accesibility button{
    background-color: #fffefc;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border-style: none;
    padding: 0.2rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
 }

 #accesibility button:hover{
    background-color: #cfdda3;
 }


#accesibility img{
   width: 0.8rem;
}

#navBar{
    background-color: #141419;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-family: 'League Spartan Black';
}

.navBarSide{
    width: 50rem;
    height: 18rem;
    padding: 9rem 0;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

#mucholapaLogoImg{
    height: 18rem;
    transition: 0.3s ease;
}

#mucholapaLogoImg:hover{
    height: 19rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 48px;
}

#navBar a{
    text-decoration: none;
    color: #fffefc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#navBar a:hover{
    color: #fffefcb2;
}

#contentContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #141419;
}

#photoContainer{
    margin: 8rem 0;
    width: 80rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

#photoContainer img{
    width: 80rem;
    margin-bottom: 5rem;
}

#footer{
    height: 5.2rem;
    background-color: #141419;
    color: #fffefc;
    text-align: center;
    font-family: 'League Spartan Medium';
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer a{
    text-decoration: none;
    color:#f1e7d2;
}

#footer a:hover{
    color:#cfdda3;
}