@font-face {
    font-family: 'League Spartan Black';
    src: url('../LeagueSpartan/WOFF2/LeagueSpartan-Black.woff2') format('woff2-variations');
    font-weight: 200 900;
  }

  @font-face {
    font-family: 'League Spartan Medium';
    src: url('../LeagueSpartan/WOFF2/LeagueSpartan-Medium.woff2') format('woff2-variations');
    font-weight: 200 900;
  }

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
  
@keyframes animate-fade {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}  

body {
    background-color: #fffefc;
    min-height: 100vh;
  }

#accesibility{
    background-color: #141419;
    padding: 0.4rem;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

#accesibility button {
    background-color: #fffefc;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border-style: none;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

 #accesibility button:hover{
    background-color: #cfdda3;
 }


#accesibility img{
   width: 0.8rem;
}

#navBar{
    background-color: #fffefc;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-family: 'League Spartan Black';
}

.navBarSide{
    width: 50rem;
    height: 18rem;
    padding: 9rem 0;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

#mucholapaLogoImg{
    height: 18rem;
}

#navBar a{
    text-decoration: none;
    color: #353633;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#navBar a:hover{
    color: #353633d2;
}

.mainContainer{
    font-family: 'League Spartan Medium';
    width: 100%;
    color: #141419;
    display: flex;
    justify-content: center;
    margin: 8rem 0;
}

.mainContainer h1{
    font-family: 'League Spartan Black';
    letter-spacing: 0.02rem;
    font-size: 42px;
}

.mainContainer h3, p{
    font-size: 22px;
}

#textContainer1{
    padding: 2rem;
    width: 45rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 0px 0px 20px;
    background-color: #f3f0ea;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#textContainer1 h1{
    margin-bottom: -30px;
}

#imgContainer1{
    width: 45rem;
    background-image: url(../graphics/sundewP1.jpg);
    background-size: cover;
    border-style: solid;
    border-width: 4px 4px 4px 0px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#textContainer2{
    padding: 2rem;
    width: 45rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 0px 20px 20px 0px;
    background-color: #f3f0ea;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#imgContainer2{
    width: 45rem;
    background-image: url(../graphics/sundewP2.jpg);
    background-size: cover;
    background-position: 0 30rem;
    border-style: solid;
    border-width: 4px 0px 4px 4px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#careTips{
    width: 80rem;
    padding: 2rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    font-size: 22px;
    background-color: #f3f0ea;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

button{
    width: 18rem;
    height: 5rem;
    background-color: #5C7315;
    color:#fffefc;
    border-radius: 20px;
    font-family: 'League Spartan Medium';
    border-style: none;
    padding: 1rem;
    font-size: 30px !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;  
}

button:hover{
    background-color: #465810;
}

button:focus{
    background-color: #33410c;
}

#footer{
    height: 5.2rem;
    background-color: #141419;
    color: #fffefc;
    text-align: center;
    font-family: 'League Spartan Medium';
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer a{
    text-decoration: none;
    color:#f1e7d2;
}

#footer a:hover{
    color:#cfdda3;
}