#imgContainer1{
    background-image: url(../../graphics/heliamphora.jpg);
    background-position: 0 52rem;
}

#imgContainer2{
    background-image: url(../../graphics/heliamphora.jpg);
    background-position: 0 35rem;
}
